services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:80"
    env_file:
      - ../../../.env
    image: ragbitregistry36-fscag4f9ccadh4c3.azurecr.io/ragbit-backend:latest
  
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:80
    image: ragbitregistry36-fscag4f9ccadh4c3.azurecr.io/ragbit-frontend:latest